/* .ql-toolbar{
    display: none;
} */
.ql-custom-font{
    display: inline-block !important;
}
.aside{
    position: absolute;
    width: 400px;
    height: 100vh;
    right: 0;
}
.menu-side *{
    cursor: pointer;
}